@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Our Store</h1>
    <p class="lead">Discover the best products at unbeatable prices!</p>
    <div class="mt-4">
        <a class="btn btn-primary btn-lg mx-2" asp-controller="User" asp-action="Register">Register</a>
        <a class="btn btn-success btn-lg mx-2" asp-controller="User" asp-action="Login">Login</a>
    </div>
</div>
